/*@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en");
/*
 *
 *   INSPINIA Landing Page - Responsive Admin Theme
 *   2.2
 *
*/
/* GLOBAL STYLES
-------------------------------------------------- */
body {
  color: #7b8b92;
  font-family: 'robotomedium', arial, sans-serif;
  background:#f1f3f4;
}
span.navy {
  color: #1ab394;
}
p.text-color {
  color: #676a6c;
}
a.navy-link {
  color: #1ab394;
  text-decoration: none;
}
a.navy-link:hover {
  color: #17a185;
}
a:hover{
	text-decoration:none;
}
section p {
  color: #aeaeae;
  font-size: 13px;
}
address {
  font-size: 13px;
}
h1 {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 200;
}
.clear{clear:both}
.navy-line {
  width: 60px;
  height: 1px;
  margin: 60px auto 0;
  border-bottom: 2px solid #1ab394;
}
.navy-bg {
  background-color: #1ab394;
  color: #ffffff;
}
.navbar-default{
	background:#fff;
	border:none;
	border-bottom:1px solid #eaeef0;
	border-radius:0px;
	min-height:75px;
	margin-bottom:0px;
}
@media (min-width: 1200px){
	.container {
		width: 1170px;
	}
}
.navbar-collapse{
	/*border:none*/
}
.navbar-default .navbar-brand{
	font-family: 'robotolight';
	color:#000000;
	font-size:28px;
	margin-top:10px;
}
.logo span{
	font-family: 'robotomedium'
}
/*navBar*/
/*Btn, input modify*/
.btn-modify{
	border-color:#cfd9de;
	background:transparent;
}
.btn-modify{
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	padding-left:20px;
	padding-right:20px;
}
.btn-modify:hover, .btn-modify:focus, .btn-modify.focus, .btn-modify-active{
	color:#fff;
	background:#3795fd;
	border-color:#3795fd;
}
.btn-load-more{
	padding-left:60px;
	padding-right:60px;
}
.input-select{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	background:none;
}
.input-text-modify{
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}
/* nav */
/* navbar top*/
.navBar-top-right ul li{
	line-height:67px;
	padding-bottom:7px;
}
.navBar-top-right .change-language{
	border-left:1px solid #e4e9ec;
	border-right:1px solid #e4e9ec;
	padding-bottom:12px;
}
.navbar-default .navbar-nav>.change-language.open>a, .navbar-default .navbar-nav>.change-language.open>a:hover, .navbar-default .navbar-nav>.change-language.open>a:focus{
	background:none;
}
.navBar-top-right .change-language .dropdown-toggle{
	padding-top:23px;
}
.navBar-top-right .change-language .flag{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border:2px solid #e4e9ec;
	margin-right:9px;
}
ul.choose-language li{
	line-height:40px;
}
.choose-language>li>a{
	display:inline-block;
	padding-left:0px;
}
.choose-language>li>.flag{
	margin-left:5px;
}
.navBar-top-right .sign-up{
	margin-left:37px;
	margin-right:9px;
}
.navBar-top-right .icon-social{
	margin-right:0px;
	padding-top:8px;
}
.navBar-top-right .icon-social a{
	padding-left:0px;
}
/* navbar main*/
.nav_main{
	border-top:1px solid #f5f7f8;
	min-height:65px;
	border-bottom:1px solid #f1f3f4;
	background:#fff
}
@media (min-width: 1200px){
	.nav_main ul{
		width: 1115px;
		margin: auto
	}
}
.nav_main ul {
	padding: 0;
	margin-top:12px;
}
.nav_main li {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	*display:inline; /* ie7 */
	background: url('../img/icons/icon-school.png') no-repeat 0px 6px;
	width:20%;
}
.nav_main li.school{
	width:19%
}
.nav_main li.coach{ 
	background: url('../img/icons/icon-coach.png') no-repeat 36px 6px;
	width:19%
}
.nav_main li.coach a{
	margin-left:34px;
} 
.nav_main li.scholarship{ 
	background: url('../img/icons/icon-scholarship.png') no-repeat 45px 6px;
	text-align:center
}
.nav_main li.message-box{ 
	background: url('../img/icons/icon-message-box.png') no-repeat 83px 6px;
	text-align:right;
}
.nav_main li.my-profile{ 
	background: url('../img/icons/icon-profile.png') no-repeat 110px 6px;
	text-align:right;
}
.nav_main a {
	text-decoration: none;
	color: #999;
	line-height: 30px;
	display:inline-block;
	padding:3px 12px 16px 41px;
}
.nav_main a:hover {
	color: #000;
	border-bottom: 2px solid #00d9d2
}
.nav_main .current a {
	color: #000;
	border-bottom: 2px solid #00d9d2
}
.nav_main.center ul {
	text-align: left;
}

@media screen and (max-width: 600px) {
	.nav_main {
		position: relative;
		min-height: 80px;
	}	
	.nav_main ul {
		width: 180px;
		padding: 5px 0;
		position: absolute;
		top: 0;
		left: 0;
		border: solid 1px #aaa;
		background: #fff url(images/icon-menu.png) no-repeat 10px 11px;
		border-radius: 5px;
		box-shadow: 0 1px 2px rgba(0,0,0,.3);
		z-index:99999
	}
	.nav_main li {
		display: none; /* hide all <li> items */
		margin: 0;
	}
	.nav_main .current {
		display: block; /* show only current <li> item */
	}
	.nav_main a {
		display: block;
		padding: 5px 5px 5px 32px;
		text-align: left;
	}
	.nav_main .current a {
		background: none;
		color: #666;
	}

	/* on nav hover */
	.nav_main ul:hover {
		background-image: none;
	}
	.nav_main ul:hover li {
		display: block;
		margin: 0 0 5px;
	}
	.nav_main ul:hover .current {
		background: url(images/icon-check.png) no-repeat 10px 7px;
	}

	/* center nav */
	.nav_main.center ul {
		left: 50%;
		margin-left: -90px;
	}	
}

/*------- content --------*/
#content{
	min-height:300px;
}
@media (min-width: 1200px){
	.container-fluid{
		width:1145px
	}
}

/*--List Schools--*/
.count-and-sort{
	margin-top:20px;	
	margin-bottom:3px;
}
.count-and-sort span{
	display:inline-block;
	margin-top:7px;
	margin-left:5px;
}
.school-child{
	width:100%;
	min-height:203px;
	background:#fff;
	margin-top:15px;
	margin-bottom:15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	padding:20px;
	-webkit-box-shadow: 0 3px 3px -3px black;
     -moz-box-shadow: 0 3px 3px -3px black;
          box-shadow: 0 3px 3px -3px black;
}

#home-load-more{
	text-align:center;
	margin-top:25px;
}
.school-child .avatar{
	display:inline-block;
	float:left;
	margin-right:15px;
}
.school-child .avatar img{
	width:71px;
	height:71px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border:1px solid #e8eff2;
}
.school-child .btn-modify{
	font-size:13px;
}
.school-child .title{
	display:inline-block;
	min-height:105px
}

.school-child .title h5{
	color:#000;
	font-size:15px
}
.school-child .title span{
	color:#819097;
	font-size:13px;
}
.school-child .storage-ranking{
	padding-right:0px;
}
.school-child .ranking span{
	display:inline-block;
	width:23px;height:23px;
	background:#7a7f94;
	color:#fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	text-align:center;
	padding-top:1px;
	margin-right:10px;
}
.school-child-applied{
	background:#bf3832
}
.school-child-following{
	background:#3795fd
}
.school-child-applied .avatar img{
	border-color:#bf3832
}
.school-child-following .avatar img{
	border-color:#3795fd
}
.school-child-applied .title span{
	color:#e0a29f	
}
.school-child-following .title span{
	color:#bfddfe
}
.school-child-following .title h5, .school-child-applied .title h5{
	color:#fff
}
.school-child-following .ranking, .school-child-applied .ranking{
	color:#fefefe
}
.school-child-following .btn-modify:hover, .school-child-applied .btn-modify:hover{
	background:#fff;
	color:#000;
	border-color:#fff
}
.school-child-following .btn-modify, .school-child-applied .btn-modify{
	color:#fff
}

.advanced-search{
	background:#f8f9fa;
	min-height:144px;
	padding:25px 0px;
	border-bottom:1px solid #e5eaed
}
.advanced-search .s-keyword input{
	width:94%
}
.advanced-search .s-more{
	border-left:2px solid #eaeef0;
	min-height:50px
}
.s-more-div, .s-more-label{
	margin:10px 0px;
	padding-right:0px;
}
.s-more-label{
	padding-top:5px;
	font-family: 'robotolight';
}
.s-more-div button{
	margin-right:5px;
}
.scholarship-child{
	border:1px solid #fff;
	padding:22px;
}
.scholarship-child:hover{
	border:1px solid #3795fd
}
.scholarship-child .title{
	min-height:88px;
}
.scholarship-child h4, .scholarship-child .title h4 span{
	font-size:20px;
	color:#2d2f37;	
}
.scholarship-child h4 span{
	display:block;
	margin:7px 0px;
}
.scholarship-child .row{
	line-height:25px;
	font-size:13px;
	color:#2d2f37
}
.scholarship-child .row .child-label{
	color:#7b8b92
}
.child-heart{
	width:40px;
	height:40px;
	display:inline-block;
	border:1px solid #7b8b92;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
	background:url('../img/icons/icon-heart.png') no-repeat 10px -19px;
	float:right;
	margin-left:20px;
}
.child-heart:hover{
	border:1px solid #ef7245;
	background-position: 10px 10px
}
.scholarship-child .btn-modify{
	line-height:26px;
	float:right;
	background:#7b8b92;
	color:#fff;
	border:1px solid #7b8b92;
	padding-left: 25px;
    padding-right: 25px;
}
.wrap-deadline{
	text-align:right
}
.deadline span{
	line-height:23px;
	display: inline-block;
    width: 23px;
    height: 23px;
    background: #35373f;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
}
.inner-scholarship-details{
	margin-top:25px;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 30px 40px;
    -webkit-box-shadow: 0 3px 3px -3px black;
    -moz-box-shadow: 0 3px 3px -3px black;
    box-shadow: 0 3px 3px -3px black;
	width: 100%;
    min-height: 400px;
    background: #fff;
}
.inner-scholarship-details .title{
	font-size:15px;
	color:#000;
	display:inline-block;
	margin-bottom:15px;
}
.inner-scholarship-details .title h3{
	font-size:23px;
	margin:10px 0px 8px 0px;
}
.inner-scholarship-details .title span{
	color:#697b83
}
.inner-scholarship-details .deadline{
	display:block;
	margin-top:10px;
}
.inner-scholarship-details .avatar{
	display:block;
	float:left;
	margin-right:27px;
	min-height:120px
}
.inner-scholarship-details .avatar img{
	width: 71px;
    height: 71px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #e8eff2;
}
.inner-scholarship-details .nice-select{
	float:right;
	clear:none
}
.inner-scholarship-details .child-heart{
	margin-left:0px;
	float:right
}
.inner-scholarship-details .btn-modify{
	line-height:25px;
	border:solid 1px #0073fd;
	color:#0073fd;
	padding-left:30px;
	padding-right:30px;
	margin:0px 16px;
	float:right
}
.inner-scholarship-details .btn-modify:hover, .inner-scholarship-details .btn-modify:focus, .inner-scholarship-details .btn-modify.focus, .inner-scholarship-details .btn-modify-active{
	background:none
}
.inner-scholarship-details .title-block{
	font-size:18px;
	background: url('../img/icons/icon-01.png') no-repeat center left;
	padding-left:29px;
	color:#000;
	margin-top:12px;
}
.inner-scholarship-details .child{
	padding-top:10px;
}
.inner-scholarship-details .value{
	color:#23252e
}

/** SChool details**/
.school-details{
	margin-top:15px;
	margin-bottom:15px;
}
.detail-left{
	width:100%;
	min-height:200px;
	padding:23px;
	background:#fff;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 0 3px 3px -3px black;
    -moz-box-shadow: 0 3px 3px -3px black;
    box-shadow: 0 3px 3px -3px black;
	position:relative;
}
.following{
	position:absolute;
	top:0px;right:10px;
}
.detail-left .col-sm-3{
	padding-left:0px;
}
.detail-left .avatar{
	display: inline-block;
}
.detail-left .avatar img{
	width: 74px;
    height: 74px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #e8eff2;
}
.detail-left .block{
	padding-bottom:28px;
	border-bottom:1px solid #f4f6f7
}
.detail-left .block-between, .detail-left .block-bottom{
	padding-top:28px;
	border-top:1px solid #e6eaed
}
.block-top .title h4{
	color:#21232c;
}
.block-top .title{
	display:block;
	color:#7b8b92;
	min-height:75px;
}
.block-top .ranking span{
	display: inline-block;
    width: 23px;
    height: 23px;
    background: #7a7f94;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
	padding-top:1px;
	margin-right: 10px;
}
.block-top .ranking{
	display:block;
	margin:15px 0px;
}
.block-bottom .btn-modify{
	width:100%;
	line-height:31px;
	margin-bottom:13px;
}
.block-bottom .col-sm-12{
	margin-top:7px;
}
.block-bottom .btn-modify:hover, .block-bottom .btn-modify:focus, .block-bottom .btn-modify.focus{
	background:#fff;
	color:#000;
	border-color:#cfd9de;
	outline:none;
	
}
.block-bottom .btn-modify-active:hover, .block-bottom .btn-modify-active:focus, .block-bottom .btn-modify-active.focus{
	background:#3795fd;
	border-color:#3795fd;
	color:#fff
}
.detail-left .block-bottom{
	border-bottom:none;
	padding-bottom:0px;
}
.inner-detail-left{
	color:#21232c;
	line-height:28px
}

.inner-detail-left .detail-row{
	text-transform: capitalize;
}
.inner-detail-left .website{

}
.inner-detail-left .label-left{
	color:#7b8b92;
	text-transform: none;
}
.detail-right{
	width:100%;
	min-height:200px;
	background:#fff;
	border-radius:10px;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 0 3px 3px -3px black;
    -moz-box-shadow: 0 3px 3px -3px black;
    box-shadow: 0 3px 3px -3px black;
	position:relative;
	margin-bottom:25px;
}
.numberFolllow{
	padding:15px 25px;
}
.numberF{
	line-height:33px;
}
.btnF{
	float:right;
	padding-left:30px;
	padding-right:30px;
}

.schoolDetailFilter{
	padding-top:15px;
	padding-right:30px;
	background:#f8f9fa;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom:1px solid #e5eaed;
	margin-bottom:5px;
	padding-bottom:15px;
	background:#f8f9fa url(../img/icons/academic-level.png) no-repeat 10px 20px;
}
.schoolDetailFilterV{
	background:#f8f9fa url(../img/icons/academic-level-v.png) no-repeat 10px 20px;
}
.schoolDetailFilter .s-more-label{
	padding-left:38px
}
.schoolDetailFilterResults .nav-tabs{padding-left:10px}
.schoolDetailFilterResults .nav-tabs li a{
	color:#4d626b
}
.schoolDetailFilterResults .nav-tabs li a:hover{
	background:none;
	border-color:#fff;
	color:#000;
	border-bottom:2px solid #057afd
}
.schoolDetailFilterResults .nav-tabs li.active a{
	border-color:#fff;
	color:#000;
	border-bottom:2px solid #057afd
}
.schoolDetailFilterResults .tab-content{
	padding:20px;
}
.schoolDetailFilterResults .tab-pane{
	min-height:100px;
}
#tab-major .list-major{
	display:block;
	border-bottom:1px solid #e7ebee;
	padding-bottom:25px;
	margin-bottom:25px;
}
#tab-major .col-sm-11{
	width:95.666%;
	padding-right:0px;
}
#tab-major .major-level{
	width:4.3333%
}
#tab-major .major-level span{
	width:24px;height:24px;
	display:inline-block;
	background:#5cc768;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	text-align:center;
	line-height:24px;
	color:#fff
}
#tab-major{
	color:#000
}
#tab-major .major-label{
	color:#7b8b92
}
#tab-major .major-option{
	line-height:30px;
	text-transform: capitalize;
}
#tab-major .interested button{
	background:url(../img/icons/icon-heart.png) no-repeat 14px 8px;
	padding-left:40px;
	padding-right:25px;
}
#tab-major .btn-modify:hover, #tab-major .btn-modify:focus, #tab-major .btn-modify.focus{
	color:#000;
	border-color:#cfd9de;
	outline:none;
}
#tab-major .interested{
	text-align:right
}
.basicInfo{}
.basicInfo h4{
	border-bottom:1px solid #d4dde2;
	padding:0px;
	margin:0px;
	line-height:52px;
	color:#000;
	font-size:16px;
	padding-left:30px;
}
.basicInfo .listInfo{
	padding:30px;
	padding-bottom:5px;
}
.titleInfo{
	margin-bottom:15px;
	background:url(../img/icons/icon-02.png) no-repeat center left;
	padding-left:20px;
	display:block
}
.basicInfo .contentInfo{
	color:#000
}
.list-scholarships{
	border-bottom: 1px solid #e7ebee;
    padding-bottom: 25px;
    margin-bottom: 25px;
	color:#000;
}
.list-scholarships .sc-label{
	color:#7b8b92
}
.list-scholarships .wrap-deadline{
	text-align:right
}
.list-scholarships .col-sm-6, .list-scholarships .col-sm-12{
	line-height:30px
}
.list-course{
	background:#f5f7f9;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom:15px;
}
.titleCourse{
	color:#000;
	background:#e5ebf2;	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin:0px;
	line-height:40px;
	font-size:20px;
	padding-left:18px;
	position:relative;	
	cursor:pointer
}
.list-course-active .titleCourse{
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.innerCourse{
	padding:18px;
	color:#000;
	display:none;
}
.list-course-active .innerCourse{
	display:block;
}
.icon-course{
	width:20px;
	height:20px;
	background:url('../img/icons/icon-03.png') no-repeat center;
	display:inline-block;
	position:absolute;
	top:10px;right:10px;
}
.list-course-active .icon-course{
	background:url('../img/icons/icon-02.png') no-repeat center;
}
.innerCourse{}
.innerCourse h3{
	font-size:15px;
	color:#7c8c93
}
.innerCourse>p{
	padding-bottom:20px;
	border-bottom:1px solid #e7ebee;
}
.innerCourse table, .innerCourse table tr td{	border:none;}
.innerCourse table tr td{border:4px solid #f5f7f9}
.innerCourse table tr td{
	background:#e6ebf2
}
.innerCourse table tr:nth-child(odd) td{
	background:#eef1f4
}
.innerCourse table tr:first-child td, .innerCourse table tr:nth-child(2) td{
	background:transparent
}
.innerCourse table tbody>tr td p{
	border-bottom:2px solid #f0764b;
	font-size:12px;
	color:#7c8c93;
	padding-bottom:4px;
	margin-bottom:0px;
}
.innerCourse table tr>td{
	min-width:105px;
}
.listNav{
	color:#7b8b92
}
.listNav.first{
	background:url(../img/icons/icon-04.png) no-repeat center right;
	padding-right:20px;
	color:#b2c1c9
}
/*Footer*/
#map{
	height: 400px;
	width:100%;
	margin-bottom:20px;
}
#footer{
	height:10px;
	margin-top:20px;
}
/*signIn signUp*/
.signIn{
	background:#fff
}
.panel-heading{
	font-size:30px;
	color:#2d2f37;
	font-family: robotolight;
}
.panel-heading .inner{
	font-family: robotobold;
}
.panel-heading .under{
	display:block;
	font-size:12px;
}
#email, #password, .ipModify, .slModify{
	background:#fbfbfb;
	border:1px solid #e4e9ec;
	height:40px;
	-webkit-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none
}
.forgoten_password{
	font-style:italic;
	padding-left:0px;
}
.signIn .btnLogin{
	width:100%;
	background:#3795fd;
	border-color:#3795fd;
	color:#fff;
	padding-top:10px;
	padding-bottom:10px;
	font-size:16px
}
.form-row.clf.name{
	margin-bottom:20px;
	display:block;
}
.buttonSignIn span{
	padding: 20px 0px;
	display: block;
	text-align: center;
}
#pac-input{
	width:50%;
	height:29px;
}